body{
 background: url(backs.jpg) no-repeat center
 center fixed;
 background-size: cover;
}

#home{
width: 90%;
height: 1000px;
margin: 0 auto;
padding: 12px;
background: rgba(255,0,0,9);

}
article{

}
img{

}
h2{

}
p{
	
}